

* {
    margin: 0;
    padding: 0;
    
    
}

body {
    
}

.banner {
    height: 80vh;
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
}
header {
    padding: 15px;
}

nav {

}

.nav ul {
    display: flex;  
}

.nav li  {
    
    list-style: none;
    font-family: 'Alata', sans-serif;
    padding-right: 25px;
    
}

.nav li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.banner-texto {
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 50%;
    color: white;
    height: 100%;
   
}

.banner-texto h1 {
    font-size: 70px;
    padding: 50px;
   font-weight: 100;
    
}
.leader {
    margin-top: 150px;
    margin-bottom: 150px;
}
.inside-leader {
    position: relative;
}

.img-leader img {
    width: 65%;
}

.square {
    text-align: left;
    position: absolute;
    background-color: #fff;
    width: 50%;
    left: 50%;
    bottom: 0;
    height: 380px;
    padding: 100px;
    
}

.square h1 {
    line-height: 50px;
    font-weight:100!important;
    text-transform: uppercase;
    font-size: 45px;
    
}
.square p {
    
    font-weight: 500;
    color: hsl(0, 0%, 55%);
    font-size: 13px;
}

.our-creations {
margin-bottom: 200px;
}

.our-creations-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    
}

.our-creations-title h1 {
    font-weight: 300;
}

.button-creations  {
    cursor: pointer;
    border: 1px solid black;
    margin: 14px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .5s;
}

.button-creations:hover{
    background-color: black;
    color: white;
}



.our-creations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    position: relative;
    grid-gap: 31px;
} 
.card-image img {
    width: 100%;
}
 

 .our-creations {
     
 }
footer {
    padding: 50px;
    background-color:black;
    color: white;
    
}
.footer-inside {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.social-net {
    padding-top: 16px;

}
.social-icons {
    text-align: end;
    padding-bottom: 20px;
}
.social-icons i{
    
    font-size: 21px;
    padding-left: 10px;
}


.nav-footer {
    
}
.nav-footer ul {
    padding-left: 0;
    padding-top: 20px;
    
}